
body {
            background-image: url('imagen/sello_educativa_cayambe.JPG');
            background-size:  auto 1527px; /* Esto hace que la imagen de fondo cubra todo el área */
            background-repeat: no-repeat;
            
           
        }
.container {
    width: 800px;
    margin: 20px auto;
    background-color: #0d94dc82;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(194, 13, 13, 0.977);
    height: auto;
   
}
.header{
    height: 160px;
    width: 800px;
    background-size: cover;
}

.section {
    margin-top: 20px;
}
.accordion {
    
    margin: 10px;
    background-color:  #007bff;
    color: #fefeff;
    cursor: pointer;
    padding: 18px;
    width: 230px;;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 6px;
    border-bottom: 6px;
    

   
}
.active, .accordion:hover {
    
    background-color: #27bcf7;
}


/* Estilos para el texto dentro de .info */
.info {
    background-color: #f5f5f59f;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    text-align: justify;
}
.info h3 {
    margin-top: 0;
    color: #555555;
    border-bottom: 1 solid #ccc;
    padding-bottom: 5px;
}
.info p{
    color: #0f0a36;
    text-align: justify;
    font-size: 19px;
    line-height: 1.6;
}
.inf p{
    color: #e8e7ec;
    text-align: justify;
    font-size: 16px;
   font-family: Arial;
}
a{
    text-decoration: none;
}

.ar1 {
   
   font-family: 'Segoe UI Black';
   font-size: 20px;
   

    
}

 
 .siderbar{
    background-color: rgba(0, 229, 206, 0.39);
    width: 250px;
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 0;
    margin-left: auto;
    border: 5px solid #14141490;
border-radius: 20px;
float:right ;


}
.content{
    background-color: rgba(163, 255, 127, 0);
    width: 500px;
    border: 4px solid rgba(0, 68, 255, 0);
    text-align: justify;
    
}

.footer{
    color: #161616;
    text-align: justify;
    font-size: 15px;
   font-family: cursive;
   text-shadow: 0 0 25px #0099ff, 0 0 2px #0099ff, 0 0 2px #0099ff;
}

